/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color:#F9F4E9; /* Warm White */
    color: #333333; /* Charcoal Gray for text */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-top:70px ;
  }
  .navbar {
    height: 60px;
    position: fixed; /* Ensure the navbar stays at the top */
    width: 100%;
    z-index: 1000;
    background-color: #1952ba;
 
    margin-bottom: 15px;

  }
  .h1{
    font-size: 1.5rem;
    color: white; /* Muted Terracotta */
    font-weight: bold;
  }
  .row {
    max-width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next row */
    gap: 20px; /* Space between cards */
    justify-content: center; /* Center the cards */
    width: 100%; /* Adjust width of the container */
    min-width: 900px;
    max-width: 1200px; /* Optional: limit max-width */
  }

  .card {
   box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF; /* White for cards */
    color: #333333; /* Charcoal Gray for text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card-login {
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF; /* White for cards */
    color: #333333; /* Charcoal Gray for text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #333333; /* Muted Terracotta */
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .card-text {
    color: #333333; /* Charcoal Gray */
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color:#1952ba; /* Muted Terracotta */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: #FFFFFF; /* White text */
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #333333; /* Charcoal Gray on hover */
    color: #F9F4E9; /* Warm White text */
  }
  
  
  /* style.css */
.form-container {
  width: 400px; /* Fixed width for the form */
  margin: 20px auto; /* Center the form horizontally */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 3px;
  background-color: #f9f9f9; /* Light background for contrast */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional styling */
}
.table-diet{
  padding-bottom: 200px;
 }
  
  
  
  
  